.mavis-title {
  text-align: left;
  padding-left: 12px;
  font-weight: 700;
  font-size: 17px;
}

.avatar-button {
  --padding-start: 4px ;
  --padding-end: 4px ;
}

.avatar-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2563EB ;
  color: #ffffff ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}